@import "tailwindcss";

:root {
  --background: #fff7fb; /* tom pastel mais suave e infantil */
  --foreground: #3b0764; /* roxo escuro para contrastar */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f3f3f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  transition: background 0.3s ease, color 0.3s ease;
}
